{% extends "admin/base_site.html" %}
{% load folders_tags i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% show_breadcrumbs model %}
  </div>
{% endblock %}

{% block content %}
<p>{% trans "Wählen Sie bitte einen Ordner aus:" %}</p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}

    <p>{% trans "Folgende Objekte werden in den Ordner verschoben:" %}</p>
    <ul>{{ objects|unordered_list }}</ul>

    <input type="hidden" name="action" value="add_to_folder" />
    <input type="submit" name="apply" value="verschieben" />
</form>
{% endblock %}
